<html> 
<ng-app="BoilerPlate">
    <head>
        <title>BoilerPlate</title>
    </head>
    <body>
        <div layout="row">
            <div flex="60" flex-offset="10">
                <h2>Blank App</h2>
                <p>This is the <b>AngularJS</b> project skeleton for <b>Application name here</b>.<br><br><br>
                You might want to set it up with a <b>MEAN</b> stack.<br><br>
                <b>M</b>ySQL<br>
                <b>E</b>xpressJS<br>
                <b>A</b>ngularJS<br>
                <b>N</b>odeJS (absolutely amazing)
                </p>
            </div>
        </div>
        <br><br><br><br>
        <div layout="row">
            <div flex="30" flex-offset="10">
                <h3>Created by Dominic Gagné.</h3>
            </div>
        </div>
    </body>
</html>

